<section class="page">
  <div class="form-card">
    <h2>{{ id ? 'Editar cliente' : 'Novo cliente' }}</h2>
    <form [formGroup]="form" (ngSubmit)="save()">
      <div class="field">
        <label>Nome</label>
        <input type="text" formControlName="name" placeholder="Nome completo" />

        <small
          class="error"
          *ngIf="form.get('name')?.touched && form.get('name')?.errors?.['required']"
        >
          Nome é obrigatório
        </small>
        <small
          class="error"
          *ngIf="form.get('name')?.touched && form.get('name')?.errors?.['minlength']"
        >
          Nome deve ter pelo menos 3 caracteres
        </small>
      </div>
      <div class="field">
        <label>Telefone</label>
        <input type="text" formControlName="phone" placeholder="(xx) xxxx-xxxx" />

        <small
          class="error"
          *ngIf="form.get('phone')?.touched && form.get('phone')?.errors?.['minlength']"
        >
          Telefone muito curto
        </small>
      </div>
      <div class="field">
        <label>Endereço</label>
        <input type="text" formControlName="endereco" placeholder="Insira seu endereço" />

        <small
          class="error"
          *ngIf="form.get('endereco')?.touched && form.get('endereco')?.errors?.['minlength']"
        >
          Endereço deve ter no mínimo 5 caracteres
        </small>
      </div>

      <div class="actions">
        <button type="submit" [disabled]="loading">
          {{ loading ? 'Salvando...' : 'Salvar' }}
        </button>
        <button type="button" (click)="cancelar()">Cancelar</button>
      </div>
    </form>
  </div>
</section>
